
@{
    ViewBag.Title = "CheckoutComplete";
}

<h2>CheckoutComplete</h2>

<p></p>
<h3>Payment Transaction ID:</h3> 
<p></p>
<h3>Thank You!</h3>
<p></p>
<hr />

@Html.ActionLink("Continue", "CheckoutCompleteContinue", null, new { @class = "btn btn-primary" })