
@{
    ViewBag.Title = "CheckoutCancel";
}

<h2>Checkout Cancelled</h2>
<p></p>
<h3>Your purchase has been cancelled.</h3>

@Html.ActionLink("Continue", "CheckoutCancelContinue", null, new { @class = "btn btn-primary" })