@{
    ViewBag.Title = "Home";
}
@section featured {
    @Html.Partial("MainHeadingPartial")
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Information on getting started
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Getting Started</h5>
        Information on getting started
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="three">
        <h5>Getting Started</h5>
        Information on getting started
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>
</ol>
