@{
    ViewBag.Title = "Home";
}

<div class="panel panel-default">

    <div class="panel-heading">
        Home
    </div>

    <div class="panel-body">
        @ViewBag.Message
    </div>

    <div class="panel-footer">
        @Html.ActionLink("Home", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>
